<html>
  <head></head>
  <body>
  	<p>
	      <form action ="/results">
	      	<label for="truthy">True symbol:</label>
	        <input type='text' name='truthy' id='truthy' />
	    	</br>
	    	<label for="falsy">False symbol:</label>
	        <input type='text' name='falsy' />
	        </br>
	        <label for="size">Size (2^x):</label>
	        <input type='text' name='size' />
	    	</br>
	        <input type='submit' value='Show truth table' />
	    	</br>
	    	<a href='/'> Reload page </a>
	      </form>
	</p>
  </body>
</html>